/* General Styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 10px 20px;
  color: white;
}

.logo a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.nav-links,
.nav-links-mobile {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.nav-links-mobile {
  display: none;
  flex-direction: column;
}

.nav-links a,
.nav-links-mobile a {
  text-decoration: none;
  color: white;
  padding: 14px 20px;
  display: block;
  transition: background 0.3s ease;
}

.nav-links a:hover,
.nav-links-mobile a:hover {
  background-color: #575757;
}

.nav-links-mobile {
  display: none;
}

.mobile-menu-icon {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.sign-out {
  background-color: #ff4d4d;
  border: none;
  color: white;
  cursor: pointer;
  padding: 14px 20px;
  margin-left: 10px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.sign-out:hover {
  background-color: #35c411;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    display: flex;
  }
  .mobile-menu-icon {
    display: block;
  }
}
